$green: #00B259;
$red: #FF513D;
$dark: #121416;
$gray-0: #fdfdfd;
$gray-1: #91969d;
$gray-2: #6f7072;
$gray-5: #757575;
$placeholder-color: #a9a9a9;

$yellow: #FAC811;
$gray-3: #d8dce5;
$cyan: #00A8C2;
$turquoise: #DCF9FB;
$turquoise-dark: #0DC4E0;
$turquoise-dark-2: #00A8C2;
