.g-button {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  color: $dark;
  border: 1px solid $gray-3;
  transition: color .3s ease;
  display: inline-block;
  border-radius: 100px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: $turquoise-dark;
    transition: width .3s;
  }

  svg {
    position: relative;
    z-index: 1;

    path {
      fill: $dark;
      transition: fill .3s ease;
    }
  }

  &:hover {
    color: #fff;

    &:after {
      width: 100%;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &--blinking {
    animation: gButtonBlink 2s infinite;

    span {
      animation: gButtonBlinkSpan 2s infinite;
    }

    svg {
      path {
        animation: gButtonBlinkSvgPath 2s infinite;
      }
    }

    @keyframes gButtonBlink {
      50% {
        border-color: $turquoise-dark;
        background: $turquoise-dark;
      }
    }

    @keyframes gButtonBlinkSpan {
      50% {
        color: white;
      }
    }

    @keyframes gButtonBlinkSvgPath {
      50% {
        fill: #fff;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $gray-1;
    color: #fff;

    &:after {
      display: none;
    }

    &:hover {
      color: #fff;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &--primary {
    border-color: $turquoise-dark;
    background: $turquoise-dark;
    color: #fff;

    &:after {
      background: #fff;
    }

    &:hover {
      color: $dark;

      svg {
        path {
          fill: $dark;
        }
      }
    }
  }

  &--danger {
    &:after {
      background: $red;
    }

    &:hover {
      color: $red;
    }
  }
}
